html, body{
    background-color: rgb(255, 255, 255);
    height:100%;
}
a.btn {
	color:white;
}
.dropdown-item:hover{
	background-color: #17a2b8;
	color:white;
}
.page-heading-container{
	width:100%;
	margin-top:1%;
}
.mappings-container{
	width:95%;
	height:100%;
	margin-top:1em;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	padding-top:1em;
}
.mappings-inner-container{
	width:100%;
	height:40vh;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-left:3em;
	padding-right:3em;
}
.mappings-left{
    margin-top:0;
	height:40vh;
	overflow: hidden;
	min-width: 0;
    max-width: 100%;
}
.mappings-left > .input-group > input{
	max-width: 30%;
}
.mappings-right{
	margin-top:0;
	height:40vh;
	overflow: hidden;
	min-width: 0;
    max-width: 100%;
}
.mappings-center{
	-webkit-box-align: center;
	        align-items: center;
	text-align: center;
	text-overflow: ellipsis;
	min-width: 0;
}
.mappings-center hr{
	border-width: 0.25em;
}
.mappings-left > h2{
	padding-top:1em;
	width:100%;
	margin-left: auto;
    margin-right: auto;
    display:inline-block;
	text-align: center;
}
.mappings-right > h2{
    padding-top:1em;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.onto-input-container{
	width:50%;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding:0.3em;
	border-width: 0.06em;
	border-radius: 3px;
	border-color: black;
	border-style: solid;
}
.onto-results-container{
	background-color:white;
	border-color: black;
	border-style: solid;
	border-width: 0.06em;
	margin-top: 1em;
	height:82%;
}
.onto-match-results-container{
    background-color:white;
	border-color: black;
	border-style: solid;
	border-width: 0.06em;
	margin-top: 1em;
	height:82%;
}
#mappingInfo{
	display:none;
}
#ont_term_1{
	color:blue;
}
#ont_term_2{
	color:blue;
}
.ui-dialog-titlebar{
	background-color:white;
	color:black;
	text-align: center;
	border-radius: 5px;
}
.ui-dialog{
	background-color: #254e77;
	color:white;
	position: absolute;
	border-color:black;
	border-width: 0.1em;
	border-style: solid;
	border-radius: 5px;
	padding-top: 0.25em;
	padding-left:0.1em;
	padding-right:0.1em;
}
.ui-dialog-content{
	padding:0.5em;
}
#termDialog, #loadingDialog{
	display:none;
}
#termName{
	font-weight: bold;
}
#syns{
	list-style-type: square;
}

.node {
	cursor: pointer;
}
  
.node rect {
    fill: white;
    stroke: rgb(0, 0, 0);
    stroke-width: 1.5px;
}

.node:hover rect{
	  fill:rgb(207, 207, 207);
}

.node text {
    font: 12px sans-serif;
    stroke: none;
	fill: rgb(0, 0, 0);
	text-anchor: start;
	background: red;
	padding:5px;
}
  
.link {
    fill: none;
    stroke: rgb(3, 103, 121);
    stroke-width: 1px;
}
  
svg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

rect.selected{
	fill: lightskyblue;
	
}
text.selected{
	stroke: black;
}
.loading-container{
	display:none;
	position: fixed;
	height:100%;
	width:100%;
	left:0;
	top:0;
	background-color: rgba(0, 0, 0, 0.4);
}
.loading{
	display:block;
	background-color:rgb(255, 255, 255);
	margin-left: auto;
	margin-right: auto;
	margin-top:34vh;
	width:12%;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	text-align: center;
	border-style: solid;
	border-width: 0.3em;
	border-color: rgb(17, 79, 117);
}
.loading h4{
	color:black;
	font-weight: bold;
}
.loading img{
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	width:60%;
	vertical-align: top;
	padding-top:1em;
}












