#ideo-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height:95%;
}

#brush-marker-container {
    width:95%;
}

.brush-marker {
    padding: 0.3em;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
    display: inline-grid;
}

#_ideogramInnerWrap{
    position: relative !important;
    margin-left: auto;
    margin-right: auto;
}

#_ideogramOuterWrap{
    margin-top: 5em;
}
#_ideogramMiddleWrap{
    width:100%;
    height:100%;
}

li {
    list-style-type: none;
}
ul > *{
    font-size:unset;
}