#ideo-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height:95%;
}
#_ideogramInnerWrap{
    position: relative !important;
    margin-left: auto;
    margin-right: auto;
}

#_ideogramOuterWrap{
    margin-top: 5em;
}
#_ideogramMiddleWrap{
    width:100% !important;
    height:100% !important;
}

li {
    list-style-type: none;
}
ul > *{
    font-size:unset;
}

.legend{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.legend > :nth-child(1){
    margin-left:auto;
    margin-right:0;
}
.legend > :nth-child(2){
    margin-left:0;
    margin-right:auto;
}
.legend > div > h3{
    text-align:Center;
}