#ideo-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height: 95%;
}

#_ideogramInnerWrap {
    position: relative !important;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto !important;
}

#_ideogramMiddleWrap {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
}

li {
    list-style-type: none;
}

ul > * {
    font-size: unset;
}

.legend {
    display: inline;
    text-align: unset;
}

.species-controls > h3 {
    text-align: Center;
}

.control-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 54%;
    top: 65%;
    z-index: 999;
}

.species-controls {
    margin-right: 1em;
    border: solid thin #0090de;
    border-radius: 0.5em;
    background-color: #f3f3ff;
    padding: 1em;
    width: 12vw;
    min-width: fit-content;
}

.species-controls > .MuiFormControl-root {
    width: 100%;
    padding-bottom: 1em;
}

.karyotype-control-container {
    display: grid;
}