.phenotype-breakdown-container p,.phenotype-breakdown-container ul > * {
    font-size: 0.8em;
}

.phenotype-breakdown-container p {
    margin-left: 1em;
}

.phenotype-breakdown-container li {
    list-style-type: disc;
}

.phenotype-breakdown-container .col {
    margin-left: 0;
    padding: 0;
}

.phenotype-breakdown-container .highlight {
    font-weight: bold;
    color: black;
    background-color: #C8D9EE;
    /*margin: 0.1em;*/
    text-align: center;
}

.phenotype-breakdown-container .highlight > p {
    margin-left: 1em;
}

.phenotype-breakdown-container .subTabMenu > .MuiBox-root {
    padding-top: 0;
}

.phenotype-breakdown-container .subTabMenu .MuiAppBar-root {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}
.phenotype-breakdown-container .subTabMenu button{
    font-size: 0.7em;
}
.phenotype-breakdown-container .subTabMenu .tab-button{
    width: 18em;
}
@media (max-width: 1024px) {
    .subTabMenu .MuiAppBar-root {
        max-width: 90%;
    }
}

.phenotype-breakdown-container .legendIcon {
    width: 1.5em;
    height: 1.5em;
}

.MuiTabs-centered {
    width: min-content;
}

.breakdown-loading-container {
    min-height: 50vh;
}

svg {
    vertical-align: middle;
}

#graph-id-graph-wrapper{
    border-right: solid 3px lightgray;
    border-bottom: solid 3px lightgray;
    border-top: solid 1px lightgray;
    border-left: solid 1px lightgray;
}