.phenotype-breakdown-container p,.phenotype-breakdown-container ul > * {
    font-size: 0.8em;
}

.phenotype-breakdown-container li {
    list-style-type: disc;
}

.phenotype-breakdown-container .col {
    margin-left: 0;
    padding: 0;
}

.phenotype-breakdown-container .highlight {
    font-weight: bold;
    color: black;
    background-color: #C8D9EE;
    /*margin: 0.1em;*/
    text-align: center;
}

.phenotype-breakdown-container .subTabMenu > .MuiBox-root {
    padding-top: 0;
}

.phenotype-breakdown-container .subTabMenu .MuiAppBar-root {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}
.phenotype-breakdown-container .subTabMenu button{
    font-size: 0.6rem;
    overflow-wrap: break-word;
}
.phenotype-breakdown-container .subTabMenu .tab-button{
    width: 18em;
}
@media (max-width: 1024px) {
    .subTabMenu .MuiAppBar-root {
        max-width: 90%;
    }
}

.phenotype-breakdown-container .legendIcon {
    width: 1.5em;
    height: 1.5em;
}

.phenotype-breakdown-container {
    min-height: 45vh;
    max-height: 75.5vh;
}

.subTabMenu #full-width-tabpanel-0, .subTabMenu #full-width-tabpanel-1, .phenotype-breakdown-container #full-width-tabpanel-1{
    overflow-y: scroll;
    max-height: 62vh;
    margin-left: -2vw;
    margin-right: -2vw;
    max-width: 120%;
}

#graph-id-graph-wrapper {
    overflow: scroll;
}

svg {
    vertical-align: middle;
}

#graph-id-graph-wrapper{
    border-right: solid 3px lightgray;
    border-bottom: solid 3px lightgray;
    border-top: solid 1px lightgray;
    border-left: solid 1px lightgray;
}