#phenotypeResultsContainer {
    margin-top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: rgb(136, 136, 136) 10px 10px 8px;
    padding: 1em;
    border: 1px solid #cdcdcd;
}

#phenotypeResultsContainer ul {
    list-style: none;
    padding-left: 1em;
}
